.impares{
    background-color: pink;
    font-family: 'Verdana, DejaVu, sans-serif';
}

#elemento2{
    color: blue;
    font-size: 36px;
}

#elemento4{
    background-color: greenyellow; 
    font-size: 24px; 
    font-weight: bold
}

.elemento3{
    font-size: 24px;
}